@import "./styles/AspectRatio.scss";
@import "./styles/Font.scss";

@include font(tiny)
@include font(fract)
@include font(bigtiny)

* {
    margin: 0;
    padding: 0;
    cursor: default;
    user-select: none;
    box-sizing: border-box;
    image-rendering: pixelated;
}

html {
    color: #EEE;
    background-color: #111;
}

#mount {
    color: #111;
    font-family: bigtiny;
    background-color: #E8E8E0;
    @include aspect-ratio(9, 9);
}
